@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::-webkit-scrollbar{
  display: none;
  overflow-x:hidden;
}


.MovieList:first-child{
  background: transparent !important;
  z-index: 100000;
}